{% extends 'layouts/base.html'%}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock css %}

{% block header %}
{% endblock header %}

{% block content %}
    <div class="wrapper">
        <form action="{% url 'user:login' %}" method="post">
            {%csrf_token%}
            {{form}}
            
            <!-- <h1>
                Авторизация
            </h1>
            <div class="input-box">
                <input type="text" placeholder="Имя" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Пароль" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>
            <div class="remember">
                <a href="#">Забыли пароль?</a>
            </div> -->

        <button type="submit" class="btn">Войти</button>
        <div class="register_link">
            <p>Нет аккаунта?<a href="#"> Зарегистрироваться</a></p>
        </div>
        </form>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}