
{% extends "layouts/base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock css %}


{% block header %}
{% endblock header %}

{% block content %}
<div class="main-info">
    <div class="info">
        <h2>Пользователь 1</h2>
        <p>
            Наверняка вам понравится данная платформа, 
            я смогла найти себе прекрасный автомобиль, 
            кроме того можно брать в
            а ренду очень рекомендую!!!!
        </p>
        <p><a href="#">Назад</a></p>
    </div>
</div>
{% endblock content %}


{% block footer %}
{% endblock footer %}