{% extends "layouts/base.html" %}
{%load static%}

{% block content %}
<main>
  <div class="container">
    <div class="main-content">
      <div>
        <div class="main-content_about">Welcome</div>
        <h1>BEST CARS</h1>
        <p>
          Make your dream yourself.All useful information you can read if
          you scroll display
        </p>
        <div class="main-content_buttons">
          <a href="#">Категории</a>
        </div>
      </div>
      <img class="main_picture" src="{% static 'images/volvo.png' %}" />
      <div></div>
    </div>
  </div>
</main>

<section class="welcome">
  <div class="container">
    <div class="privetstvie">
      <img src="{% static 'images/im.png' %}" />
      <div>
        <h2>Mercedes <span>AMG</span></h2>
        <p>
          Цена:100000$<br />
          Пробег: 140000km<br />
        </p>
        <h2><span>2024</span></h2>
        <a href="#">Подробная информация</a>
      </div>
    </div>
  </div>
</section>

{% endblock content %}