 body {
     font-family: "Roboto Condensed", serif;
     font-size: 25px;
     height: 100%;
     scroll-behavior: smooth;
     background-color: rgb(38, 35, 35);

 }
.main_block{
    margin-top:70px;
    display:block;
    
}

.main_block h1{
    font-family: "Poppins", serif;
    text-align:center;
    font-weight:500;
    color:azure;
}

.menu-items{
    margin-top: 70px;
    display:flex;
    justify-content: center;
}